main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    border-radius: 30px;
    background-color: #51615baf;
}

.titulo-subtitulo{
    text-align: center;
}