*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #BBBD91;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #51615B;
    padding: 10px 30px;
    position: fixed;
}

.nav-list{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-logo a{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}

#img-logo{
    width: 4vw;
    height: 7vh;
}

.nome-empresa{
    font-size: 1.6rem;
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-bar li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar li{
    transition: 0.5s;
}

.container-login{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn-pagina-login{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1A0D02;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

#btn-pagina-login:hover, .nav-bar li:hover{
    transform: scale(1.1);
}