.container-troca-tema-pagina{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-troca-tema-pagina{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8vh;
}

h3{
    font-size: 1.8rem;
}

.container-forum{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-forum{
    width: 100%;
    height: 28rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #51615baf;
}

.container-forum input{
    height: 3.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.container-forum input:focus{
    outline: none;
}

.container-ranking{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.container-ranking span{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.container-ranking span div{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: solid 2px #51615baf;
}

.btn-enviar-mensagem{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    top: 75.5vh;
    right: 9.2vw;
    cursor: pointer;
    transition: 0.5s;
}

.btn-enviar-mensagem:hover{
    background-color: #343b39af;
}

.btn-enviar-mensagem svg{
    transform: rotate(180deg);
}

h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 500px){
    h3{
        font-size: 24px;
    }

    .container-forum{
        width: 90%;
    }

    .btn-enviar-mensagem{
        top: 84.5vh;
        right: 6vw;
    }

    .container-ranking{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}