.container-troca-tema-pagina{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-troca-tema-pagina{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8vh;
}

h3{
    font-size: 1.8rem;
}

.container-forum{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-forum{
    width: 100%;
    height: 28rem;
    border-radius: 20px;
    background-color: #51615baf;
}
