main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #51615baf;
    padding: 0px 40px;
}

.titulo-subtitulo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.lista-input-dados{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.lista-input-dados li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-input-dados li input{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: solid 3px #51615baf;
}