*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #BBBD91;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #51615B;
    padding: 10px 30px;
    position: fixed;
    z-index: 1;
    border-bottom: solid 3px #383f3c;
}

.nav-list{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-logo a{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}

#img-logo{
    width: 4vw;
    height: 7vh;
}

.nome-empresa{
    font-size: 1.6rem;
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-bar li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar li{
    transition: 0.5s;
}

.container-login{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn-pagina-login{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1A0D02;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

#btn-pagina-login:hover, .nav-bar li:hover{
    transform: scale(1.1);
}

.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
}

.main-home{
   width: 100vw;
   height: auto;
   padding-top: 8vh;
}

.background-image{
    width: 100%;
    height: 550px;
    gap: 8vh;
}

.background-image img{
    width: 100%;
    height: 100%;
    border-bottom: solid 6px #51615B;
}

#input-search{
    position: absolute;
    width: 50vw;
    height: 7vh;
    border-radius: 25px;
    border: none;
    right: calc(100vw - 75vw);
    top: 24vh;
    padding: 15px;
    font-size: 18px;
}

#input-search:focus{
    outline: none;
}

.container-bemvindos{
    position: absolute;
    top: 38vh;
    width: 60vw;
    right: calc(100vw - 80vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.container-bemvindos h2{
    font-size: 2.8rem;
}

.container-bemvindos p{
    font-size: 1.3rem;
}

.container-sobre-saberGlobal{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-sobre-saberGlobal h3, .container-colaboradores h3{
    font-size: 2.5rem;
}

.container-cards-explicacao{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}

.container-cards-explicacao div{
    text-align: center;
    width: 25rem;
    height: 30rem;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #51615B;
    transition: 0.5s;
}

.container-cards-explicacao div:hover,.colaboradores:hover{
    transform: scale(1.03);
}

.container-cards-explicacao div img{
    width: 200px;
    height: 200px;
}

#card-experiencia h4, #card-comunidade h4, #card-acervo h4{
    font-size: 26px;
}

#card-experiencia p, #card-comunidade p, #card-acervo p{
    font-size: 18px;
}

.container-colaboradores{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
}

.container-cards-colaboradores{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 40px;
}

.colaboradores{
    width: 100%;
    height: 15rem;
    border-radius: 20px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #51615baf;
    transition: 0.5s;
}

.colaboradores img{
    width: 15rem;
    height: 100%;
    border: solid 2px #1A0D02;
    border-radius: 100%;
}

.colaboradores .nome-e-historia{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.colaboradores .nome-e-historia h4{
    font-size: 30px;
}

.colaboradores .nome-e-historia p{
    font-size: 20px;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #51615B;
    padding: 20px 0px 15px;
}

.info-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contatos{
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contatos h5, .rede-social h5, .sobre-nos h5{
    font-size: 20px;
}

.contatos span{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.rede-social{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.rede-social span{
    margin-left: 6px;
}

.rede-social span a{
    text-decoration: none;
    color: transparent;
}

.sobre-nos, .sobre-nos span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sobre-nos span a{
    text-decoration: none;
    color: #FFFFFF;
}

hr{
    width: 100%; 
    height: 4px; 
    background-color: #ffff;
    margin-bottom: 15px;
    margin-top: 20px;
}

#direitos-reservados{
    font-size: 18px;
    text-align: center;
}

/*========= RESPONSIVIDADE PARA MOBILE ==========*/

@media (max-width: 500px){
    header{
        width: 100vw;
        height: 9vh;
        padding: 10px;
        justify-content: space-between;
    }

    .container-logo a{
        justify-content: flex-start;
    }

    .nav-list{
        display: none;
    }

    #img-logo{
        width: 20%;
        height: 20%;
    }

    #btn-pagina-login{
        position: fixed;
        top: 92vh;
        right: 4vw;
        background-color: #1a0d02c5;
        color: #ffff;
    }

    .nome-empresa{
        font-size: 1.2rem;
    }

    .menu-mobile{
        display: block;
        width: 35px;
        height: 40px;
    }

    .menu-mobile svg{
        width: 100%;
        height: 100%;
    }

    .background-image{
        height: 250px;
        gap: 9vh;
    }

    #input-search{
        position: absolute;
        top: 14.5vh;
        width: 80vw;
        height: 6vh;
        right: calc(100vw - 90vw);
        font-size: 14px;
    }

    .container-bemvindos{
        top: 24vh;
        width: 90vw;
        right: calc(100vw - 95vw);
        gap: 5px;
    }

    .container-bemvindos h2{
        font-size: 1.6rem;
    }

    .container-bemvindos p{
        font-size: 12px;
    }

    .container-sobre-saberGlobal{
        margin-top: 20px;
    }

    .container-cards-explicacao{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .container-cards-explicacao div{
        width: 18rem;
        height: 25rem;
        border-radius: 22px;
        padding: 5px;
    }

    .container-sobre-saberGlobal h3, .container-colaboradores h3{
        font-size: 1.4rem;
    }
    
    #card-experiencia h4, #card-comunidade h4, #card-acervo h4{
        font-size: 1.3rem;
    }

    #card-experiencia p, #card-comunidade p, #card-acervo p{
        font-size: 13px;
    }

    .container-colaboradores{
        padding: 10px 5px;
    }

    .container-cards-colaboradores{
        padding: 20px;
    }

    .colaboradores{
        flex-direction: column;
        height: 20rem;
        padding: 10px 25px;
    }

    .colaboradores img{
        width: 10rem;
        height: 10rem;
    }

    .colaboradores .nome-e-historia h4{
        font-size: 16px;
        text-align: center;
    }

    .colaboradores .nome-e-historia p{
        font-size: 12px;
        text-align: justify;
    }

    #colaborador-reverse{
        flex-direction: column-reverse;
    }

    .info-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .contatos h5, .rede-social h5, .sobre-nos h5{
        font-size: 16px;
    }

    .contatos span{
        row-gap: 5px;
        padding-inline: 15px;
    }

    .contatos span svg{
        width: 20px;
        height: 20px;
    }

    .contatos span p, .sobre-nos span a{
        font-size: 14px;
    }

    .rede-social{
        gap: 12px;
    }

    .rede-social span a:first-child{
        margin-right: 5px;
    }

    hr{
        height: 2px;
    }

    #direitos-reservados{
        font-size: 14px;
    }
}
