.container-troca-tema-pagina{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-troca-tema-pagina{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

.container-input-populares{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#input-search-populares{
    width: 50vw;
    height: 7vh;
    border-radius: 25px;
    border: none;
    right: calc(100vw - 75vw);
    padding: 15px;
    font-size: 18px;
}

.container-populares{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 3rem;
}

.container-populares h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #51615B;
}

.container-populares-superior, .container-populares-inferior{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-populares-superior button, .container-populares-inferior button{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 21px;
    background-color: transparent;
}

.seta-virada{
    rotate: 180deg;
}

.container-populares-superior div, .container-populares-inferior div{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #51615baf;
    padding: 5px 40px;
    border-radius: 15px;
    transition: 0.5s;
}

.container-populares-superior div:hover, .container-populares-inferior div:hover{
    transform: scale(1.05);
}

.container-populares-superior div img, .container-populares-inferior div img{
    width: 100%;
    height: 60%;
}

.container-populares-superior div h5, .container-populares-inferior div h5{
    font-size: 1.3rem;
} 

.container-populares hr{
    width: 97%;
    height: 7px;
    background-color: #51615B;
    border: none;
}